p, .center{
  text-align: center;
}
/*.addUser{*/
/*  border:1px solid black;*/
/*}*/


.topnav1 {
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}
