<div class="row">
  <div class="column">

<marquee>
  <video width="500" height="240" controls muted style="padding: 20px" >
    <source src="/assets/SearchEngineVideo.mp4">
  </video>


  <video width="500" height="240" controls muted style="padding: 20px">
    <source src="/assets/gonnn.mp4">
  </video>


  <video width="500" height="240" controls muted style="padding: 20px">
    <source src="/assets/Tech-Application.mp4">
  </video>
</marquee>


  </div>
</div>


<div class="topnav1" align="center">
  <font face="Times" size="5">
    <li class="nav-item"><a (click)=logOut()>| Log Out |</a></li>
  </font>
</div>
