<style>

  .btn {
    width: 140px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background: #171717;
    color: white;
    border: none;
    transition: all .4s;
  }

  .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
    0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db
  }

  .btn-hover1 {
    box-shadow: 0px 0px 10px 0px #b5b5b5;
    text-align: center;
    width: 100%;
    margin: 50px auto 0px;
    padding: 50px 0px;
    border-radius: 10px;
  }

  .btn-hover1 . {
    background: none;
    color: #333333;
    min-width: 30%;
    border-radius: 25px;
    border: 1px solid #e6e6e6;
    padding: 10px 20px;
    margin: 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 1px 10px 0px rgb(206, 205, 201);
    font-size: 19px;
    overflow: hidden;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
  }

  .btn-hover1 .button1:hover {
    color: #d60303;
  }
</style>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Instagram</h5>
    <a class="btn btn-primary" routerLink="/instagrams/manage">Add Instagram</a>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Photo</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let instagram of instagrams">
        <th scope="row">{{instagram.id}}</th>
        <td>{{instagram.name}}</td>
        <td><img src="http://localhost:8080/api/files/{{instagram.photo}}" alt="{{instagram.photo}}" width="125"/></td>
        <td>
          <a class="me-3" [routerLink]="['/instagrams/manage', instagram.id]">Edit</a>
          <a (click)="onDeleteInstagram(instagram.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
