<div class="card">
  <div class="card-body">
    <h5 class="card-title">Team Members</h5>
    <a class="btn btn-primary" routerLink="/teamMembers/manage">Add Team Members</a>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Photo</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let teamMember of teamMembers">
        <th scope="row">{{teamMember.id}}</th>
        <td>{{teamMember.name}}</td>
        <td><img src="http://localhost:8080/api/files/{{teamMember.photo}}" alt="{{teamMember.photo}}" width="125"/>
        </td>
        <td>{{teamMember.role}}</td>
        <td>
          <a class="me-3" [routerLink]="['/teamMembers/manage', teamMember.id]">Edit</a>
          <a (click)="onDeleteTeamMembers(teamMember.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
