<style>

  .btn {
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background: #171717;
    color: white;
    border: none;
    transition: all .4s;
  }

  .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
    0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db
  }

  .btn-hover1 {
    box-shadow: 0px 0px 10px 0px #b5b5b5;
    text-align: center;
    width: 100%;
    margin: 50px auto 0px;
    padding: 50px 0px;
    border-radius: 10px;
  }

  .btn-hover1 . {
    background: none;
    color: #333333;
    min-width: 30%;
    border-radius: 25px;
    border: 1px solid #e6e6e6;
    padding: 10px 20px;
    margin: 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 1px 10px 0px rgb(206, 205, 201);
    font-size: 19px;
    overflow: hidden;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
  }

  .btn-hover1 .button1:hover {
    color: #d60303;
  }
</style>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Tours</h5>
    <a class="btn btn-primary text-left" routerLink="/tours/manage">Add Tours</a>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Days</th>
        <th scope="col">MaxPeople</th>
        <th scope="col">MinPeople</th>
        <th scope="col">Description</th>
        <th scope="col">Departure</th>
        <th scope="col">Photo</th>
        <th scope="col">Featured Or Not</th>
        <th scope="col">Travel-Type</th>
        <th scope="col">Price</th>
<!--        <th scope="col">Quantity</th>-->
        <th scope="col">Destination</th>
        <!--        <th scope="col">Created At</th>-->
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tour of tours">
        <th scope="row">{{tour.id}}</th>

        <td>{{tour.title}}</td>
        <td>{{tour.days}}</td>
        <td>{{tour.maxPeople}}</td>
        <td>{{tour.minPeople}}</td>
        <td>{{tour.description}}</td>
        <td>{{tour.departure}}</td>
        <td><img src="http://localhost:8080/api/files/{{tour.photo}}" alt="{{tour.photo}}" width="125"/></td>
        <td>{{tour.featured}}</td>
        <td>{{tour.travelType}}</td>
        <td>{{tour.price}}</td>
<!--        <td>{{tour.quantity}}</td>-->
        <td>{{tour.destination.name}}</td>
        <!--        <td>{{tour.createdAt}}</td>-->
        <td>
          <a class="me-3" [routerLink]="['/tours/manage', tour.id]">Edit</a>
          <a (click)="onDeleteTours(tour.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
