<body>

<div class="header">
  <font face="Times" size="4" color="#000d1a">
    <h1>GONLINE Tours</h1></font>

  <font face="Times" size="4" color="gray">
    <p>
      <marquee>“The world is a book and those who do not travel read only one page”.</marquee>
    </p>
  </font>
  <a class="logo" href="shop">
  <img src="/assets/Wunderlust.png" width="300" height="100" alt="HTML5 Icon">

  </a>
</div>

<div class="topnav" font="Times">
  <a
    src="https://www.wunderlust.co/">Official
    Website</a>
  <a
    href="https://preview.themeforest.net/item/wunderlust-travel-tour-html-template/full_screen_preview/24720664?_ga=2.165069495.920684702.1619552532-1881228371.1566454430">Tours
    Grid</a>
  <a
    href="https://preview.themeforest.net/item/wunderlust-travel-tour-html-template/full_screen_preview/24720664?_ga=2.165069495.920684702.1619552532-1881228371.1566454430">Destination</a>
  <a
    href="https://preview.themeforest.net/item/wunderlust-travel-tour-html-template/full_screen_preview/24720664?_ga=2.165069495.920684702.1619552532-1881228371.1566454430">About
    Us</a>
  <a
    href="https://preview.themeforest.net/item/wunderlust-travel-tour-html-template/full_screen_preview/24720664?_ga=2.165069495.920684702.1619552532-1881228371.1566454430">
    <font color="#339966">Contact Us</font></a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <font face="Times" size="4" color="#000000">
        <h2>Where? Wunderlust's</h2>
        <h5>Reach Your Destination With GONLINE.</h5>
        <h3>Our Sponsor <a
          href="https://www.wunderlust.co/">Wunderlust
          </a></h3>
      </font>

      <iframe src="https://www.wunderlust.co/" style="border:1px blue;height:400px;width:800px;"></iframe>

      <div class="video">
                <video [width]="700" [height]="400" controls muted>
                  <source src="/assets/Trip.mp4">
                </video>
      </div>

      <p></p>
      <font face="Times" size="4" color="#000000">
      <blockquote> Fly now, pay monthly.</blockquote>
      </font>
      <p></p>
    </div>
    <!--    <section id="col-3-tours">-->
    <!--      <div class="container">-->
    <!--        <div class="trending-tour__tittle">-->
    <!--          &lt;!&ndash; section tittle &ndash;&gt;-->


    <!--          <div class="section-tittle">-->
    <!--            <h2>Trending Tour</h2>-->
    <!--            <div class="section-tittle__line-under"></div>-->
    <!--            <p>Trending <span>Tour</span></p>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--          <div class="col-lg-4 col-sm-6 col-12">-->
    <!--            <a href="tour-item.html" class="trending-tour-item">-->
    <!--              <div class="trending-tour-item__sale"></div>-->
    <!--              <img class="trending-tour-item__thumnail" src="assets/images/uploads/tours/tour1.jpg" alt="tour1">-->
    <!--              <div class="trending-tour-item__info">-->
    <!--                <h3 class="trending-tour-item__name">-->
    <!--                  nepal camp treks-->
    <!--                </h3>-->
    <!--                <div class="trending-tour-item__group-infor">-->
    <!--                  <div class="trending-tour-item__group-infor&#45;&#45;left">-->
    <!--                    <span class="trending-tour-item__group-infor__rating"></span>-->
    <!--                    <div class="trending-tour-item__group-infor__lasting"><img src="assets/images/tours/lasting.png" alt="lasting"> 5 Days / 4 Nights</div>-->
    <!--                  </div>-->

    <!--                  <p class="trending-tour-item__group-infor__sale-price">$999</p>-->
    <!--                  <span class="trending-tour-item__group-infor__price">$799</span>-->

    <!--                </div>-->
    <!--              </div>-->
    <!--            </a>-->
    <!--          </div>-->
    <!--          <div class="col-lg-4 col-sm-6 col-12">-->
    <!--            <a href="tour-item.html" class="trending-tour-item">-->
    <!--              <img class="trending-tour-item__thumnail" src="assets/images/uploads/tours/tour2.jpg" alt="tour1">-->
    <!--              <div class="trending-tour-item__info">-->
    <!--                <h3 class="trending-tour-item__name">-->
    <!--                  trekking everest-->
    <!--                </h3>-->
    <!--                <div class="trending-tour-item__group-infor">-->
    <!--                  <div class="trending-tour-item__group-infor&#45;&#45;left">-->
    <!--                    <span class="trending-tour-item__group-infor__rating&#45;&#45;4star"></span>-->
    <!--                    <div class="trending-tour-item__group-infor__lasting"><img src="assets/images/tours/lasting.png" alt="lasting"> 7 Days / 6 Nights</div>-->
    <!--                  </div>-->
    <!--                  <span class="trending-tour-item__group-infor__price">$652</span>-->

    <!--                </div>-->
    <!--              </div>-->
    <!--            </a>-->
    <!--          </div>-->
    <!--          <div class="col-lg-4 col-sm-6 col-12">-->
    <!--            <a href="tour-item.html" class="trending-tour-item">-->
    <!--              <img class="trending-tour-item__thumnail" src="assets/images/uploads/tours/tour3.jpg" alt="tour1">-->
    <!--              <div class="trending-tour-item__info">-->
    <!--                <h3 class="trending-tour-item__name">-->
    <!--                  Kelingking beach-->
    <!--                </h3>-->
    <!--                <div class="trending-tour-item__group-infor">-->
    <!--                  <div class="trending-tour-item__group-infor&#45;&#45;left">-->
    <!--                    <span class="trending-tour-item__group-infor__rating"></span>-->
    <!--                    <div class="trending-tour-item__group-infor__lasting"><img src="assets/images/tours/lasting.png" alt="lasting"> 3 Days / 2 Nights</div>-->
    <!--                  </div>-->
    <!--                  <span class="trending-tour-item__group-infor__price">$456</span>-->

    <!--                </div>-->
    <!--              </div>-->
    <!--            </a>-->
    <!--          </div>-->

    <!--          <div class="col-lg-4 col-sm-6 col-12">-->
    <!--            <a href="tour-item.html" class="trending-tour-item">-->
    <!--              <img class="trending-tour-item__thumnail" src="assets/images/uploads/tours/tour4.jpg" alt="tour4">-->
    <!--              <div class="trending-tour-item__info">-->
    <!--                <h3 class="trending-tour-item__name">-->
    <!--                  Turkey Encompassed-->
    <!--                </h3>-->
    <!--                <div class="trending-tour-item__group-infor">-->
    <!--                  <div class="trending-tour-item__group-infor&#45;&#45;left">-->
    <!--                    <span class="trending-tour-item__group-infor__rating"></span>-->
    <!--                    <div class="trending-tour-item__group-infor__lasting"><img src="assets/images/tours/lasting.png" alt="lasting"> 6 Days / 6 Nights</div>-->
    <!--                  </div>-->

    <!--                  <span class="trending-tour-item__group-infor__price">$703</span>-->

    <!--                </div>-->
    <!--              </div>-->
    <!--            </a>-->
    <!--          </div>-->
    <!--          <div class="col-lg-4 col-sm-6 col-12">-->
    <!--            <a href="tour-item.html" class="trending-tour-item">-->
    <!--              <img class="trending-tour-item__thumnail" src="assets/images/uploads/tours/tour5.jpg" alt="tour5">-->
    <!--              <div class="trending-tour-item__info">-->
    <!--                <h3 class="trending-tour-item__name">-->
    <!--                  Broho Midnight Tour-->
    <!--                </h3>-->
    <!--                <div class="trending-tour-item__group-infor">-->
    <!--                  <div class="trending-tour-item__group-infor&#45;&#45;left">-->
    <!--                    <span class="trending-tour-item__group-infor__rating&#45;&#45;3star"></span>-->
    <!--                    <div class="trending-tour-item__group-infor__lasting"><img src="assets/images/tours/lasting.png" alt="lasting"> 2 Days / 1 Nights</div>-->
    <!--                  </div>-->
    <!--                  <span class="trending-tour-item__group-infor__price">$531</span>-->

    <!--                </div>-->
    <!--              </div>-->
    <!--            </a>-->
    <!--          </div>-->
    <!--          <div class="col-lg-4 col-sm-6 col-12">-->
    <!--            <a href="tour-item.html" class="trending-tour-item">-->
    <!--              <div class="trending-tour-item__sale"></div>-->
    <!--              <img class="trending-tour-item__thumnail" src="assets/images/uploads/tours/tour6.jpg" alt="tour6">-->
    <!--              <div class="trending-tour-item__info">-->
    <!--                <h3 class="trending-tour-item__name">-->
    <!--                  Giza Pyramids-->
    <!--                </h3>-->
    <!--                <div class="trending-tour-item__group-infor">-->
    <!--                  <div class="trending-tour-item__group-infor&#45;&#45;left">-->
    <!--                    <span class="trending-tour-item__group-infor__rating&#45;&#45;4star"></span>-->
    <!--                    <div class="trending-tour-item__group-infor__lasting"><img src="assets/images/tours/lasting.png" alt="lasting"> 5 Days / 4 Nights</div>-->
    <!--                  </div>-->

    <!--                  <p class="trending-tour-item__group-infor__sale-price">$898</p>-->
    <!--                  <span class="trending-tour-item__group-infor__price">$600</span>-->

    <!--                </div>-->
    <!--              </div>-->
    <!--            </a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->
    <div class="card1">
      <font face="Times" size="4" color="#000000">
      <h1> See, like and get what you want!</h1>
      <h4>Your Favorite Places</h4>

      <marquee onMouseOver="javascript:stop()" onMouseOut="javascript:start()" behavior="scroll" direction="right">
        <img src="/assets/kkk.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
             [border]="5">
        <img src="/assets/super.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
             [border]="5">
        <img src="/assets/okay.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
             [border]="5">
        <img src="/assets/male.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
             [border]="5">
        <img src="/assets/photo12.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
             [border]="5">
      </marquee>
      <p></p>
      <blockquote>We began this business early in 2020 and people can travel in every place they want only by our
        services and sponsors.
        <p></p></blockquote>

      <h2> Our Subsidiaries:</h2><br>
      <a class="one" href="https://www.callitspring.com/ca/en">Callitspring Subsidiarie</a><br><br>
      <a class="two" href="https://www.aldoshoes.com/us/en_US/women/accessories">Aldo Accessories Branch</a><br><br>
      <a class="three" href=" https://www.aldogroup.com/">Aldo Group</a><br><br>
      <a class="four" href=" https://www.gonlinepro.com/">GONLINE</a>
      </font>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">

      <font face="Times" size="4" color="#339966">
        <h2>Tour</h2></font>

      <iframe src="/assets/Okay.png" width="392" height="462px">
      </iframe>
      <p>A glance of our shop. What would you want to add to our features?</p>
      <form action="ThankYou.html">
        <input type="checkbox" id="option1" name="option1" value="answer">
        <label for="option1"> Summer clothes and accessories</label><br>
        <input type="checkbox" id="option2" name="options2" value="answer">
        <label for="option2"> A new type of shoes</label><br>
        <input type="checkbox" id="option3" name="options3" value="answer">
        <label for="option3"> More sportive shoes</label><br>
        <input type="checkbox" id="option4" name="options4" value="answer">
        <label for="option4"> Improve online shopping</label><br>
        <input type="checkbox" id="option5" name="options5" value="answer">
        <label for="option5"> All</label><br>
        <label for="option6"> Your idea?</label>
        <input type="text" id="option6" name="option6" placeholder="answer"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="card">
      <font face="Times" size="4" color="#000000">
      <h3>We make it easier for you</h3>


      <img src="/assets/Turkey.png" width="392px" height="462px">
      <h1 align="justified" style="font-size: 25px"> Make Reservations Here </h1>
      <label for="order">Search by country: </label>
      <select id="order" placeholder="Country">
        <option value="country">Country</option>
        <option value="canada">Canada</option>
        <option value="italy">Italy</option>
        <option value="israel">Israel</option>
        <option value="germany">Germany</option>
        <option value="u.s.a">U.S.A</option>
        <option value="south africa">South Africa</option>
        <option value="spain">Spain</option>
        <option value="sweden">Sweden</option>
        <option value="france">France</option>
        <option value="Turkey">Turkey</option>
      </select>

      <div class="submit">
        <p align="left"><a
          href="https://preview.themeforest.net/item/wunderlust-travel-tour-html-template/full_screen_preview/24720664?_ga=2.165069495.920684702.1619552532-1881228371.1566454430">
          <button type="button">Submit</button>
        </a></p>
      </div>

      <label for="order">Trending Tour: </label>
      <select id="order" placeholder="Trending Tour">
        <option value="Trending Tour">Trending Tour</option>
        <option value="Nepal Camp Treks">Nepal Camp Treks</option>
        <option value="Treking Everest">Treking Everest</option>
        <option value="Kelingking Beach">Kelingking Beach</option>
        <option value="Turkey Encompassed">Turkey Encompassed</option>
        <option value="Broho Midnight Tour">Broho Midnight Tour</option>
        <option value="Giza Pyramids">Giza Pyramids</option>
      </select>

      <div class="submit">
        <p align="left"><a
          href="https://preview.themeforest.net/item/wunderlust-travel-tour-html-template/full_screen_preview/24720664?_ga=2.165069495.920684702.1619552532-1881228371.1566454430">
          <button type="button">Submit</button>
        </a></p>
      </div>

      <label for="order">Search By Places: </label>
      <select id="order" placeholder="Search By Places">
        <option value="Search By Places">Search By Places</option>
        <option value="Search By Places"> BAGAN</option>
        <option value="KATA TJUTA">KATA TJUTA</option>
        <option value="HERMANUS">HERMANUS</option>
        <option value="SYDNEY">SYDNEY</option>
        <option value="LAKE GARDA">LAKE GARDA</option>
      </select>

      <div class="submit">
        <p align="left"><a
          href="https://preview.themeforest.net/item/wunderlust-travel-tour-html-template/full_screen_preview/24720664?_ga=2.165069495.920684702.1619552532-1881228371.1566454430">
          <button type="button">Submit</button>
        </a></p>
      </div>

      </font>
    </div>
    <div class="card">
      <font face="Times" size="4" color="#000000">
      <h3>Follow us at: </h3>
      <ul>
        <li><a routerLink="home"> Home </a>
          <img src="/assets/dark_logo_transparent_background.png" width="45" height="50" alt="HTML5 Icon">
        </li>
        <li><a href="https://www.facebook.com/gonlineal-103101818359611"> Facebook </a>
          <img src="https://cdn.icon-icons.com/icons2/2201/PNG/512/facebook_logo_square_icon_134009.png" width="45" height="50" alt="HTML5 Icon">
        </li>
        <li><a href="https://www.instagram.com/gonline.al/"> Instagram </a>
          <img src="https://i.pinimg.com/originals/66/41/c9/6641c94e15a0be37af49a4250386c03e.png" width="45" height="50" alt="HTML5 Icon">
        </li>
        <li><a href="https://www.youtube.com/user/alexrainbird"> YouTube </a>
          <img src="https://toppng.com/uploads/preview/youtube-logo-11609383902z56yosfap9.png" width="45" height="50" alt="HTML5 Icon">
        </li>
        <li><a routerLink="clients"> Become Client </a>
          <img src="/assets/dark_logo_transparent_background.png" width="45" height="50" alt="HTML5 Icon">
        </li>
      </ul>
      </font>
    </div>

  </div>
</div>

<div class="footer">
  <font face="Times" size="4" color="#faebd7">
  <h1> GONLINE </h1>
  <h4>©2020-2021 The GONLINE Group Inc. All rights reserved</h4>
  </font>
</div>

<marquee onMouseOver="javascript:stop()" onMouseOut="javascript:start()" behavior="scroll" direction="right">

  <img src="/assets/photoGood.png" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/haha.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo1.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo3.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo4.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo6.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo7.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo8.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo9.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
  <img src="/assets/photo14.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/AnotherOne.png" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/EdheKjo.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/Farka.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/1Ure.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/KindOfLum.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/Ure.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">

  <img src="/assets/photo17.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">

  <img src="/assets/photo19.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/SomeGood.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">
  <img src="/assets/BestPhoto.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400"
       [border]="5">


</marquee>

</body>
